<html>
    <body style="background-color:rgb(51, 51, 51); height: 100vh; overflow-y: hidden;">
        <ubud-element-common-navbar-component></ubud-element-common-navbar-component>
        <div class="flex">
            <ubud-element-common-sidebar-component></ubud-element-common-sidebar-component>

            <div class="dark:bg-dark-800 w-full text-white px-40 py-10 font-custom" style="margin-left: 65px;">
                <h1 class="text 4xl" style="font-size: 40px;">Introduction to the Angular Docs</h1>
                <p style="margin-top: 30px;"> Angular is an application design framework and develompment platform for creating efficient and sophisticated single-page apps.</p>
                <p style="margin-top: 20px;">These angular docs help you learn and use Angular Framework and develompment platform, from you first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate yout projects</p>
                <p style="margin-top: 20px;">{{"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, incidunt enim nam saepe alias ducimus consectetur, laudantium commodi debitis iusto sint impedit eveniet! Debitis velit aliquam deleniti consequatur facilis aliquid veniam vel fuga voluptas ipsum quas dolorum eius at commodi optio, porro facere ipsam magnam dolores expedita impedit doloribus nam. Aliquid sed deleniti dolorum quo qui corrupti omnis vel ex!" | truncate}}</p>

                <div class="flex">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg" style="background-color: rgb(63, 63, 63); text-align: center; margin-top: 40px;">
                        <div class="px-6 py-4">
                            <h1 style="color: rgb(13, 146, 255); font-size: 20px;">What is Angular</h1>
                        </div>
                        <p class="text-white-700 text-base font-custom ml-5">
                            {{"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, incidunt enim nam saepe alias ducimus consectetur, laudantium commodi debitis iusto sint impedit eveniet Debitis velit aliquam deleniti consequatur facilis aliquid veniam vel fuga voluptas ipsum quas dolorum eius at commodi optio, porro facere ipsam magnam dolores expedita impedit doloribus nam. Aliquid sed deleniti dolorum quo qui corrupti omnis vel ex!" | truncate}}
                        </p>
                        <div class="py-5" style="background-color: rgb(77, 77, 77); margin-top: 20px;">
                            <p>Platform overview</p>
                        </div>
                    </div>
                    
                    <div class="max-w-sm rounded overflow-hidden shadow-lg" style="background-color: rgb(63, 63, 63); text-align: center; margin-top: 40px; margin-left: 20px;">
                        <div class="px-6 py-4">
                            <h1 style="color: rgb(13, 146, 255); font-size: 20px;">What is Angular</h1>
                        </div>
                        <p class="text-white-700 text-base font-custom ml-5">
                            {{"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, incidunt enim nam saepe alias ducimus consectetur, laudantium commodi debitis iusto sint impedit eveniet Debitis velit aliquam deleniti consequatur facilis aliquid veniam vel fuga voluptas ipsum quas dolorum eius at commodi optio, porro facere ipsam magnam dolores expedita impedit doloribus nam. Aliquid sed deleniti dolorum quo qui corrupti omnis vel ex!" | truncate}}
                        </p>
                        <div class="py-5" style="background-color: rgb(77, 77, 77); margin-top: 20px;">
                            <p>Platform overview</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>