<nav class="border-b border-grey-200 py-4">
    <div class="container px-4 md:px-6">
        <div class="flex items-center space-x-6">
            <div class="h-10 rounded-xl flex items-center justify-center text-xl">
                Alumni
            </div>
            <div class="flex items-center text-grey-dark text-sm font-bold space-x-4">
                <a class="hover:text-primary" routerLink="/" routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
